In [4]:
import numpy as np

import pandas as pd

from sklearn.preprocessing import LabelEncoder

from sklearn.preprocessing import OneHotEncoder

from sklearn.preprocessing import OrdinalEncoder

import category_encoders as ce

In [5]:
!pip install category_encoders

Requirement already satisfied: category_encoders in d:\softwares\anaconda\ana\lib\site-packages (2.6.1)
Requirement already satisfied: scikit-learn>=0.20.0 in d:\softwares\anaconda\ana\lib\site-packages (from category_encoders) (1.0.2)
Requirement already satisfied: patsy>=0.5.1 in d:\softwares\anaconda\ana\lib\site-packages (from category_encoders) (0.5.2)
Requirement already satisfied: statsmodels>=0.9.0 in d:\softwares\anaconda\ana\lib\site-packages (from category_encoders) (0.13.2)
Requirement already satisfied: pandas>=1.0.5 in d:\softwares\anaconda\ana\lib\site-packages (from category_encoders) (1.4.2)
Requirement already satisfied: scipy>=1.0.0 in d:\softwares\anaconda\ana\lib\site-packages (from category_encoders) (1.7.3)
Requirement already satisfied: numpy>=1.14.0 in d:\softwares\anaconda\ana\lib\site-packages (from category_encoders) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\softwares\anaconda\ana\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\softwares\anaconda\ana\lib\site-packages (from pandas>=1.0.5->category_encoders) (2021.3)
Requirement already satisfied: six in d:\softwares\anaconda\ana\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\softwares\anaconda\ana\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: joblib>=0.11 in d:\softwares\anaconda\ana\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: packaging>=21.3 in d:\softwares\anaconda\ana\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in d:\softwares\anaconda\ana\lib\site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.0.4)

## Basic Exploration

In [6]:
data  = pd.read_csv('merged_data.csv')

In [7]:
data.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub_Category
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
1,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,AARON HAWKINS,ONTARIO,ONTARIO,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
2,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
3,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
4,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.21,0.06,24,-78.64,6.14,0.59,ALLEN ARMOLD,NEW BRUNSWICK,ATLANTIC,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"

In [9]:
data.tail()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub_Category
8394,Ord_5467,Prod_14,SHP_7639,Cust_1803,5964.19,0.10,33,988.20,24.49,0.46,TONJA TURNELL,ALBERTA,WEST,CONSUMER,TECHNOLOGY,COPIERS AND FAX
8395,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37,TONY CHAPMAN,BRITISH COLUMBIA,WEST,CONSUMER,TECHNOLOGY,COPIERS AND FAX
8396,Ord_5368,Prod_14,SHP_7497,Cust_1795,17279.62,0.04,40,4176.25,24.49,0.52,TONY SAYRE,ALBERTA,WEST,SMALL BUSINESS,TECHNOLOGY,COPIERS AND FAX
8397,Ord_1765,Prod_14,SHP_2446,Cust_595,14647.26,0.07,25,5485.15,24.49,0.37,VICTORIA WILSON,ONTARIO,ONTARIO,HOME OFFICE,TECHNOLOGY,COPIERS AND FAX
8398,Ord_3610,Prod_14,SHP_4998,Cust_1266,1759.65,0.06,3,-2213.75,24.49,0.50,WILLIAM BROWN,SASKACHEWAN,PRARIE,CORPORATE,TECHNOLOGY,COPIERS AND FAX

In [10]:
data.shape

(8399, 16)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Ord_id                8399 non-null   object
 1   Prod_id               8399 non-null   object
 2   Ship_id               8399 non-null   object
 3   Cust_id               8399 non-null   object
 4   Sales                 8399 non-null   float64
 5   Discount              8399 non-null   float64
 6   Order_Quantity        8399 non-null   int64
 7   Profit                8399 non-null   float64
 8   Shipping_Cost         8399 non-null   float64
 9   Product_Base_Margin   8336 non-null   float64
 10  Customer_Name         8399 non-null   object
 11  Province              8399 non-null   object
 12  Region                8399 non-null   object
 13  Customer_Segment      8399 non-null   object
 14  Product_Category      8399 non-null   object
 15  Product_Sub_Category  8399 non-null   object
dtypes: float64(5), int64(1), object(10)
memory usage: 1.0+ MB

In [12]:
data.describe()

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
mean,1775.878179,0.049671,25.571735,181.184424,12.838557,0.512513
std,3585.050525,0.031823,14.481071,1196.653371,17.264052,0.135589
min,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
25%,143.195000,0.020000,13.000000,-83.315000,3.300000,0.380000
50%,449.420000,0.050000,26.000000,-1.500000,6.070000,0.520000
75%,1709.320000,0.080000,38.000000,162.750000,13.990000,0.590000
max,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000

In [14]:
data.describe(percentiles = [0.05, 0.10, 0.25, 0.50, 0.75, 0.80, 0.85, 0.90, 0.95, 0.99])

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
mean,1775.878179,0.049671,25.571735,181.184424,12.838557,0.512513
std,3585.050525,0.031823,14.481071,1196.653371,17.264052,0.135589
min,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
5%,34.178000,0.000000,3.000000,-592.439000,0.800000,0.360000
10%,60.688000,0.010000,5.000000,-265.740000,1.250000,0.360000
25%,143.195000,0.020000,13.000000,-83.315000,3.300000,0.380000
50%,449.420000,0.050000,26.000000,-1.500000,6.070000,0.520000
75%,1709.320000,0.080000,38.000000,162.750000,13.990000,0.590000
80%,2302.901000,0.080000,41.000000,274.932000,19.990000,0.600000
85%,3346.201000,0.090000,43.000000,462.370000,24.490000,0.650000
90%,4918.979000,0.090000,46.000000,769.038000,35.000000,0.720000
95%,7844.335000,0.100000,48.000000,1542.309000,55.351000,0.780000
99%,18318.398000,0.100000,50.000000,5381.126000,74.350000,0.830000
max,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000

In [13]:
data.isnull().sum()

Ord_id                   0
Prod_id                  0
Ship_id                  0
Cust_id                  0
Sales                    0
Discount                 0
Order_Quantity           0
Profit                   0
Shipping_Cost            0
Product_Base_Margin     63
Customer_Name            0
Province                 0
Region                   0
Customer_Segment         0
Product_Category         0
Product_Sub_Category     0
dtype: int64

In [15]:
data.select_dtypes('object')

,Ord_id,Prod_id,Ship_id,Cust_id,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub_Category
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,AARON BERGMAN,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
1,Ord_2978,Prod_16,SHP_4112,Cust_1088,AARON HAWKINS,ONTARIO,ONTARIO,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
2,Ord_5484,Prod_16,SHP_7663,Cust_1820,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
3,Ord_3730,Prod_16,SHP_5175,Cust_1314,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
4,Ord_4143,Prod_16,SHP_5771,Cust_1417,ALLEN ARMOLD,NEW BRUNSWICK,ATLANTIC,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5467,Prod_14,SHP_7639,Cust_1803,TONJA TURNELL,ALBERTA,WEST,CONSUMER,TECHNOLOGY,COPIERS AND FAX
8395,Ord_825,Prod_14,SHP_1132,Cust_247,TONY CHAPMAN,BRITISH COLUMBIA,WEST,CONSUMER,TECHNOLOGY,COPIERS AND FAX
8396,Ord_5368,Prod_14,SHP_7497,Cust_1795,TONY SAYRE,ALBERTA,WEST,SMALL BUSINESS,TECHNOLOGY,COPIERS AND FAX
8397,Ord_1765,Prod_14,SHP_2446,Cust_595,VICTORIA WILSON,ONTARIO,ONTARIO,HOME OFFICE,TECHNOLOGY,COPIERS AND FAX
8398,Ord_3610,Prod_14,SHP_4998,Cust_1266,WILLIAM BROWN,SASKACHEWAN,PRARIE,CORPORATE,TECHNOLOGY,COPIERS AND FAX

In [16]:
data.select_dtypes('number')

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,136.81,0.01,23,-30.51,3.60,0.56
1,305.05,0.04,27,23.12,3.37,0.57
2,322.82,0.05,35,-17.58,3.98,0.56
3,459.08,0.04,34,61.57,3.14,0.60
4,207.21,0.06,24,-78.64,6.14,0.59
...,...,...,...,...,...,...
8394,5964.19,0.10,33,988.20,24.49,0.46
8395,27663.92,0.05,8,-391.92,24.49,0.37
8396,17279.62,0.04,40,4176.25,24.49,0.52
8397,14647.26,0.07,25,5485.15,24.49,0.37
8398,1759.65,0.06,3,-2213.75,24.49,0.50

In [18]:
data.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin',
       'Customer_Name', 'Province', 'Region', 'Customer_Segment',
       'Product_Category', 'Product_Sub_Category'],
      dtype='object')

In [20]:
data.drop_duplicates(inplace=True)

## Categorical Variables